<ion-grid>
  <ion-col size="1"></ion-col>
  <ion-col size="10">


    
<ion-card>
  <ion-item class="photo">
    {{itemDetail.name}}
  </ion-item>

  <ion-item>
    <ion-label>Name:</ion-label>
    <p>Banana</p>
  </ion-item>

  <ion-item>
    <ion-label>Type:</ion-label>
    <p>Fruit</p>
  </ion-item>

  <ion-item>
    <ion-label>Expiration Date:</ion-label>
    <p>05/01/2020</p>
  </ion-item>

  <ion-item>
    <ion-label>Price:</ion-label>
    <p>$1.75</p>
  </ion-item>

  <ion-item>
    <ion-button color="primary" shape="round">Eaten</ion-button>
  </ion-item>

  <ion-item>
    <ion-button color="warning" shape="round">Tossed</ion-button>
  </ion-item>

  <ion-item>
    <ion-button color="secondary" shape="round">Frozen</ion-button>

  </ion-item>

</ion-card>


  </ion-col>
  <ion-col size="1"></ion-col>
</ion-grid>



