<ion-grid>
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card>
        <ion-title>Add Item</ion-title>
        
        <ion-item>
          <ion-label>Name: </ion-label>
          <ion-input type="text" placeholder="ex. 2% Milk"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Type: </ion-label>
          <ion-select placeholder="Select Type">
            <ion-select-option value="a">Dairy</ion-select-option>
            <ion-select-option value="b">Meat</ion-select-option>
            <ion-select-option value="c">Poultry</ion-select-option>
            <ion-select-option value="d">Seafood</ion-select-option>
            <ion-select-option value="e">Eggs</ion-select-option>
            <ion-select-option value="f">Other</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Expiration Date</ion-label>
          <ion-datetime displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>Price: </ion-label>
          <ion-input type="text" placeholder="ex. 2% Milk"></ion-input>
        </ion-item>

        <ion-item>
          <ion-button color="primary" shape="round">Add To Pantry</ion-button>
        </ion-item>

        <ion-item>
          <ion-button color="secondary" shape="round">Cancel</ion-button>
        </ion-item>

        
        
        
        
       
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
</ion-grid> 